@charset "UTF-8";
/* Foundation
   --------------------------------------------------------- */
[data-theme=dark] {
  background-color: black;
  color: white;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: serif;
  line-height: 1;
  background-color: lightgray;
  color: black;
  font-size: 20px;
}
html img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* layout
   --------------------------------------------------------- */
main a {
  -webkit-text-decoration: underline dotted dimgray;
          text-decoration: underline dotted dimgray;
}

/* Object - Component
   --------------------------------------------------------- */
header {
  position: relative;
  height: 60px;
  display: grid;
  grid-template-columns: auto auto 40%;
  align-items: center;
  background-color: darkgray;
  padding: 0 1.5%;
}
header a {
  text-decoration: none;
  color: unset;
}

.p-container__right {
  justify-self: right;
}

#c-form__btn-hidden {
  display: none;
}

#burger-now {
  position: relative;
  z-index: 10;
}

.p-nav {
  position: fixed;
  top: 0;
  z-index: 5;
  height: 100vh;
  right: -200px;
  width: 200px;
  background-color: darkgray;
  transition: all 0.3s 0s ease-in-out;
  text-align: center;
  padding-top: 10%;
}
.p-nav a {
  display: inline-block;
  width: 50%;
  margin: 0 auto;
  height: 100px;
}

#c-form__btn-hidden:checked + .p-nav {
  right: 0;
}

.p-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.p-container__top {
  height: 250px;
  width: 100%;
  text-align: center;
  position: relative;
  background-color: lightblue;
}
.p-container__top h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-container__small {
  padding: 20px 0;
  display: grid;
  row-gap: 20px;
}
.p-container__small .c-item {
  position: relative;
  width: 100%;
  height: 50px;
}
.p-container__small .c-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.p-container__small .c-item .c-item__promo {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: calc(100% - 80px);
  background-color: lightblue;
  padding-left: 10px;
  display: grid;
  align-items: center;
}

.p-container__large {
  width: 100%;
  display: grid;
  row-gap: 20px;
}
.p-container__large .c-item {
  position: relative;
  width: 100%;
  height: 200px;
}
.p-container__large .c-item img:nth-child(1) {
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: 1;
}
.p-container__large .c-item img:nth-child(2) {
  position: absolute;
  z-index: 2;
  width: 36px;
  height: 36px;
  top: 0;
  right: 0;
}
.p-container__large .c-item .c-item__title {
  position: absolute;
  bottom: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 40px;
  display: grid;
  align-items: center;
  justify-items: center;
}

footer {
  height: 50px;
}

@media (min-width: 600px) {
  .p-container__small {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "figure figure" "full full";
  }
  .p-container__small .c-item:nth-child(3) {
    grid-area: full;
  }
  .p-container__large {
    grid-template-areas: "figure figure figure figure" "figure figure figure figure" "half half half2 half2";
  }
  .p-container__large .c-item:nth-last-child(1) {
    grid-area: half;
  }
  .p-container__large .c-item:nth-last-child(2) {
    grid-area: half2;
  }
  #burger-now {
    display: none;
  }
  .p-container__right {
    width: 35%;
  }
  .p-nav {
    width: unset;
    height: unset;
    position: unset;
    padding-top: unset;
  }
  .p-nav a {
    height: unset;
  }
}
@media (min-width: 1200px) {
  .p-container__small {
    grid-template-areas: none;
  }
}
/* Object - Project
   ---------------------------------------------------------
   名前空間を一意にすることで、エラーを回避し、異なるディレクトリにあるモジュールを正しく読み込むことができます。*//*# sourceMappingURL=all.css.map */