$base-color: rgb(40, 30, 90);
@mixin flex-set{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    & header {
        height: 60px;
        color: white;
        background-color: $base-color;
        @include flex-set;
    }
    & footer {
        text-align: center;
    }
}

section {
    max-width: 230px;
    margin: 0 auto;
    margin-bottom: 40px;
    & h3 {
        text-align: center;
        margin-top: 20px;
    }
    & .link-box {
        padding-top: 15px;
        text-align: center;
    }
}
.accordion-block {
    height: 200px;
    & .accordion {
        background-color: dimgray;
        color: white;
        width: 100%;
        padding: 8px;
        font-size: 16px;
        &::after {
            content: "\25BC";
        }
    }
    & .psw-rule {
        display: none;
        text-align: center;
        border: 2px dotted $base-color;
        padding: 25% 0;
        & span {
            color: red;
            font-weight: bold;
        }
    }
    & .active-accordion {
        background-color: $base-color;
        &::after {
            content: "\25AC";
        }
    }
    & .open-accordion {
        display: block;
    }
}

form {
    & .form-group {
        padding: 4px;
    }
    & input {
        padding-left: 3px;
        height: 20px;
    }
    & button {
        padding: 3px 8px;
        border-radius: 3px;
        display: block;
        margin: 0 auto;
        margin-top: 5px;
    }
    & img {
        width: 24px;
        height: 24px;
        vertical-align: middle;
    }
}

textarea {
    width: 80%;
    height: 200px;
}