$base-color: rgb(40, 30, 90);
@mixin flex-set{
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;

    & header {
        height: 60px;
        color: white;
        background-color: $base-color;
        @include flex-set;

        & a {
            color: white;
            text-decoration: none;
        }
    }
    & footer {
        text-align: center;
    }
    & hr {
        border: 1px solid gainsboro;
    }
}

section {
    max-width: 230px;
    margin: 0 auto;
    margin-bottom: 40px;

    & h3 {
        text-align: center;
        margin-top: 20px;
    }
    & .link-wrapper {
        padding-top: 15px;
        text-align: center;
    }
}

.toggle {
    height: 200px;

    &__btn {
        background-color: dimgray;
        color: white;
        width: 100%;
        padding: 8px;
        font-size: 1rem;

        &::after {
            content: "\25BC";
        }
        &--clicked {
            background-color: $base-color;

            &::after {
                content: "\25B2";
            }
        }
    }
    &__content {
        display: none;
        text-align: center;
        border: 2px dotted $base-color;

        &--active {
            display: block;
        }
    }
    &__highlight {
        color: red;
        font-weight: bold;
    }
}

.form {
    &__group {
        padding: 4px;
        display: flex;
        align-items: center;
        justify-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__input, &__input--name {
        padding-left: 3px;
        height: 1.5rem;
    }
    &__show-psw {
        width: 24px;
        height: 24px;
        vertical-align: middle;
    }
    &__btn {
        padding: 3px 8px;
        border-radius: 3px;
        display: block;
        margin: 0 auto;
        margin-top: 5px;
    }
}


.msg__delete-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    & button {
        margin-top: unset;
    }
}