<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/week7.css') }}">
</head>
<body class="body">
    <header class="body__header">
        <h2>{% block h2 %}{% endblock %}</h2>
    </header>
    {% block content %}{% endblock %}
    <footer class="body__footer">
        <p>&copy; 2024 Jack All rights reserved</p>
    </footer>
    {% block js %}{% endblock %}
</body>
</html>