{% extends "base.html" %}
{% block title %}會員頁{% endblock %}
{% block content %}
    <header>
        <h2><a href="/">歡迎光臨，這是會員頁</a></h2>
    </header>
    <main>
        <section>
            <h3>{{ username }}，歡迎登入系統</h3>
            <div class="link-box">
                <a href="/signout">登出系統</a>
            </div>
        </section>
        <section>
            <h3>快來留言吧</h3>
            <form action="/createMessage" method="POST" id="create_msg">
                <label for="leave-msg">內容</label>
                <textarea name="leave_msg" id="leave_msg"></textarea>
                <button type="submit">送出</button>
            </form>
        </section>
        <section class="msg_area">
            {% for each_username, each_id, each_content in members %}
                <p><strong>{{ each_username }} : </strong>{{ each_content }}</p>
                {% if each_username == username %}
                    <form action="/deleteMessage" method="POST" class="delete_form">
                        <input type="hidden" name="message_id" value="{{ each_id }}">
                        <button type="submit" class="delete_btn">X</button>
                    </form>
                {% endif %}
            {% endfor %}
        </section>
    </main>
{% endblock %}