{% extends "base.html" %}
{% block title %}會員頁{% endblock %}
{% block h2 %}<a href="/">歡迎光臨，這是會員頁</a>{% endblock %}
{% block content %}
    <main>
        <section>
            <h3>{{ sessionName }}，歡迎登入系統</h3>
            <div class="link-wrapper">
                <a href="{{ request.url_for('signout') }}" class="link">登出系統</a>
            </div>
        </section>
        <hr>
        <section>
            <h3>快來留言吧</h3>
            <form action="{{ request.url_for('createmsg') }}" method="POST" class="form form--create-msg">
                <div class="form__group">
                    <label class="form__label">內容
                        <textarea name="content" class="form__textarea" autofocus></textarea>
                    </label>
                </div>
                <button type="submit" class="form__btn">送出</button>
            </form>
        </section>
        <hr>
        <section>
            {% for name, id, content, time in members %}
                <div class="msg">
                    <p class="msg__text"><strong>{{ name }} : </strong>{{ content }}</p>
                    {% if name == sessionName %}
                        <form action="{{ request.url_for('deletemsg') }}" method="POST" class="msg__delete-form">
                            <input type="hidden" name="id-message" value="{{ id }}">
                            <button type="submit" class="msg__delete-btn">X</button>
                        </form>
                    {% endif %}
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}
{% block js %}<script type="module" src="{{ url_for('static', path='js/member.js') }}"></script>{% endblock %}