* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

header {
    height: 60px;
    color: white;
    background-color: rgb(40, 30, 87);
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    max-width: 220px;
    margin: 0 auto;
}

h3 {
    text-align: center;
    margin-top: 20px;
}

.form-group {
    padding: 4px;
}

.form-check {
    text-align: center;
}

button {
    padding: 3px 8px;
    border-radius: 3px;
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}

hr {
    margin: 30px 0;
}

input {
    padding-left: 3px;
    height: 20px;
}

img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}
