* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

h2 {
    height: 60px;
    color: white;
    background-color: rgb(40, 30, 87);
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    margin-top: 20px;
    margin-bottom: 5px;
}

div {
    padding: 4px;
}

button {
    padding: 4px 8px;
}

