@use "../foundation/mixin" as *;

header {
    position: relative;
    a {
        text-decoration: none;
        color: unset;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $dim-gray;
    padding: 0 1.5%;
}

#c-form__btn-hidden {
    display: none;
}

#burger-now {
    position: relative;
    z-index: 2;
}

.p-nav {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 100vh;
    right: -200px;
    width: 200px;
    background-color: $dim-gray;
    transition: all 0.3s 0s ease-in-out;
    text-align: center;
    padding-top: 10%;
    a {
        display: inline-block;
        width: 50%;
        margin: 0 auto;
        height: 100px;
    }
}

#c-form__btn-hidden:checked + .p-nav {
    right: 0;
}


.l-main {
    width: 90%;
    margin: 0 auto;
}

.p-container__top {
    height: 250px;
    text-align: center;
    position: relative;
    background-color: lightblue;
    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.p-container__small {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    & .c-item {
        width: 100%;
        display: flex;
        & img {
            flex: 1 50px;
            width: 80px;
            height: 50px;
            object-fit: cover;
        }
        & .c-item__promo {
            background-color: lightblue;
            flex: 8 50px;
            display: flex;
            align-items: center;
            padding-left: 10px;
        }
    }
}

.p-container__large {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    & .c-item {
        position: relative;
        width: 100%;
        height: 250px;
        &:nth-child(1) {
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 250px;
            object-fit: cover;
            z-index: 2;
        }
        &:nth-child(2) {
            display: inline-block;
            position: absolute;
            z-index: 3;
            width: 16px;
            height: 16px;
            top: 0;
            right: 0;
        }
        & .c-item__title {
            position: absolute;
            bottom: 0;
            z-index: 3;
        }
    }
}